@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
#body-content {
  justify-content: center;
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(4, 6fr);
  grid-template-rows: auto 6fr;
}

#canvas {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#card-container {
  overflow: hidden;
  margin: 10px auto;
  width: 200px;
  height: 300px;
  background-color: aliceblue;
  color: rgb(62, 103, 114);
  border-radius: 0.5rem;
  justify-content: center;
  box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.311);
  text-transform: capitalize;
  transition: transform 0.5s ease-in-out;
}

#card-container:hover {
  outline: 4px solid rgb(169, 209, 255);
  outline-style: solid;
}

#card-title {
  text-align: center;
  width: 100%;
  height: 40px;
}

#card-head {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 20%;
  background-color: rgb(215, 235, 245);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}
#card-content {

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100%;
  height: 60%;
  top: 20%;
  bottom: 20%;
}
#card-content > #card-task-container{
flex:0.1 1 5%;
position: relative;
}

#createCardBtn {
  margin: 5px auto;
  font-size: 0.75rem;
  width: 100px;
  height: 40px;
  background-color: rgb(169, 191, 236);
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s ease;
  position: absolute;
  z-index: 1;
  left: 2%;
}

#createCardBtn:hover {
  background-color: rgb(170, 217, 255);
  color: white;
  outline: 2px solid;
  outline-offset: 2px;
}
#card-input {
  display: flex;
  left: 50%;
  transform: translatex(-50%);
  justify-content: center;
  width: 80%;
  position: absolute;
  bottom: -20%;
}

input {
  text-align: center;
  border-radius: 2em;
  width: 100%;
  height: 30px;
}

.navbar-top {
  margin: 0 0 10px 0;
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: rgb(215, 235, 245);
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0px 10px 15px rgb(160, 160, 160);
  color: rgb(92, 115, 137);
}

#card-task-container {
  display: grid;
  margin: 2px auto;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}

#task-item {
  cursor: pointer;
  transition: 0.3s ease;
}
#task-item:hover {
  color: dodgerblue;
  text-shadow: 2px 2px 5px rgb(255, 255, 255);
}
