@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  --circle-color: #2b3036;
  --theme-bg-color: #212529;
  --theme-fg-color: #0fc1f2;
  --theme-container-color: #2b3036;
  --theme-highlight-color: #5fc6fa;
}
* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  place-content: center;
}
body {
  z-index: -999;
  background-color: var(--theme-bg-color);
}
.wrapper {
  margin: 0 auto;
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.top-nav {
  width: 100%;
  top: 0;
  z-index: 999;
}
#add-card {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 10px auto;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  gap: 5px;
  font-size: 1.5rem;
  margin: 10px auto !important;
  background-color: var(--theme-bg-color);
  transition: 400ms cubic-bezier(0.19, 1, 0.22, 1);
}
#add-card:hover {
  scale: 95%;
  font-size: 1.2rem;
  background-color: var(--theme-container-color);
}
#add-card:active {
  scale: 105%;
  background-color: var(--theme-fg-color);
}
.details-btn {
  display: grid;
  margin: 2px auto;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  top: -60%;
  left: 0%;
  background: none;
  position: absolute;
  text-align: center;
  z-index: 1;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  color: white;
  transition: 300ms cubic-bezier(0.19, 1, 0.22, 1);
  border: none !important;
  outline: none !important;
  font-weight: bolder;
}
.details-btn:hover {
  color: orange;
  letter-spacing: 3px;
  scale: 120% !important;
}
.details-btn:active {
  color: var(--theme-highlight-color) !important;
}
.details-modal {
  top: 50%;
  transform: translateY(-25%);
}
.modalDetailsTextArea {
  background-color: #e4e4e4;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  word-wrap: break-word;
  color: black;
  scroll-behavior: smooth;
  padding: 40px !important;
  resize: none !important;
  height: 500px !important;
}
.modalDetailsTextArea::-webkit-resizer {
  display: none;
}
.modalDetailsTextArea::-webkit-scrollbar {
  width: 5px;
  background-color: #e4e4e4;
}
.modalDetailsTextArea::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.267);
}
#brand-card-01 {
  position: relative;
  margin: 5px auto;
  transform: rotateZ(-15deg);
  left: 20px;
}
#brand-card-02 {
  position: relative;
  margin: 5px auto;
  transform: rotateZ(35deg);
}
#card-01 {
  fill: var(--theme-fg-color);
}
#card-02 {
  fill: var(--theme-highlight-color);
}
#card-container {
  cursor: grab;
  transform: scale(1);
  margin: 100px auto;
  width: 12rem;
  height: 18rem;
  background-color: var(--theme-bg-color);
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.311);
  outline: 0px solid rgba(0, 0, 0, 0);
  text-align: center;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), scale 300ms cubic-bezier(0.19, 1, 0.22, 1), outline 600ms cubic-bezier(0.19, 1, 0.22, 1);
  border: 3px solid var(--theme-container-color);
  user-select: none;
}
#card-container:hover,
.details-btn {
  scale: 110%;
  outline: 1px solid var(--theme-highlight-color);
  outline-style: ridge;
}
#card-title {
  text-align: center;
  width: fit-content;
  height: 40px;
  text-overflow: clip;
  font-size: 1.5rem;
  text-transform: capitalize;
  align-items: center;
  margin: 10px auto;
  transition: 300ms cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;
}
#card-title:hover {
  color: var(--theme-fg-color);
  scale: 120%;
}
#card-title-container {
  width: 100%;
  height: fit-content;
  position: absolute;
}
#card-title-input{
  transition: 300ms cubic-bezier(0.19, 1, 0.22, 1);
}
#card-title-input:focus-within{
  scale:110%;
}

#card-head {
  top: 10px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  left: 0%;
  height: 20%;
  background-color: var(--theme-bg-color);
  border-bottom: 1px solid var(--theme-container-color);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
  text-overflow: ellipsis;
}
#card-content {
  position: relative;
  background-color: var(--theme-bg-color);
  width: 100%;
  height: 50%;
  top: 25%;
  padding: 10px;
  bottom: 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--theme-container-color);
}
#card-input {
  z-index: 1;
  align-self: center;
  width: 80%;
  height: fit-content;
}
#task-input-container {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
  bottom: 8%;
  position: absolute;
  transition: 300ms cubic-bezier(0.19, 1, 0.22, 1);
}
#task-input-container:focus-within{
  scale:110%;
}
#edit-task-input{
  transition:300ms cubic-bezier(0.19, 1, 0.22, 1);
}
#edit-task-input:focus-within{
  scale:110%;
}
#task-item {
  z-index: 999;
  width: fit-content;
  margin: 0px auto;
  cursor: pointer;
  transition: 0.3s ease;
  text-align: center;
  align-items: center;
  transition: 300ms cubic-bezier(0.19, 1, 0.22, 1);
}
#task-item:hover {
  color: var(--theme-fg-color);
  scale:110%;
}
#card-task-container {
  z-index:1;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: fit-content;
  height: 20%;
  margin: 0px auto;
  transition: 300ms cubic-bezier(0.19, 1, 0.22, 1);
}
input {
  width: 80%;
  border: none;
  border-bottom: 1px solid #00a9d8;
  background-color: #2b3036;
  text-align: center;
  outline: none;
  color: white;
  border-radius: 0.15rem;
  transition: 300ms cubic-bezier(0.19, 1, 0.22, 1);
}
.popover {
  pointer-events: none !important;
  text-align: center;
  width: max-content;
  height: fit-content;
  color: white;
  font-size: 0.5rem;
  outline: 1px solid var(--theme-highlight-color);
  outline-offset: -1px;
  font-weight: 200;
  border: none;
  opacity: 0.9;
}
.popover-body {
  padding: 10px;
  margin: 0 auto;
  font-size: 0.75rem;
  color: white;
  background-color: var(--theme-bg-color);
}
.popover-header {
  background-color: var(--theme-bg-color);
  font-size: 0.8rem;
}
.delete-btn {
  z-index: 999;
  text-align: center;
  justify-content: center;
  margin: 2px auto;
  display: grid;
  top: -15px;
  right: 5px;
  width: 15px;
  height: 15px;
  font-size: 1.25rem;
  font-weight: 100;
  position: absolute;
  color: white;
  border: none;
  transition: 300ms cubic-bezier(0.19, 1, 0.22, 1);
}
.delete-btn:hover {
  color: red;
  border: none;
  scale: 140%;
}
@media (max-width: 992px) {
  .wrapper {
    margin-top: 5rem !important;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin-top: 20rem !important;
  }
}
